<div class="film_header">
  <h1 class="neon">FILM LIST</h1>
</div>


<div class="film_list">
  <ul>
  <% for film in @films %>
    <li><a href="/films/<%= film.id %>"><%= film.title.upcase %></a></li>
  <% end %>
  </ul>
</div>
